<section class="">
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <!--div container-->
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1"></div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg--auto">
        <img src="assets/img/20210410_163309.jpg" alt="Urku Portfolio" />
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6">
        <br>
        <br>
        <img
          id="sentadoscerro"
          src="assets/img/20210410_164433 (1).jpg"
          alt="Urku Portfolio"
        />
      </div>
      <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <br />
        <br />
        <h1 class="ae-u-bolder">Senderismo Cerro Bravo</h1>

        <p class="ae-eta">
          Cerro Bravo es un lugar mágico y encantador que te conecta con la naturaleza por su espesa vegetación y gran variedad de flora y fauna, además cuenta grandes tramos de caminos prehispánicos considerado un sitio de adoración y peregrinación para las antiguas tribus Zenufaná. Esta hermosa montaña una de las más simbólicas del suroeste Antioqueño, divide los municipios de Venecia y Fredonia. Con una altura promedio de 2.630 msnm, lo hace un lugar atractivo para realizar trekkking y senderismo.
          Cuenta además con un mirador donde se puede divisar el paisaje del suroeste antioqueño dominado por las montañas de la cordillera Central y Occidental, Venecia, Concordia y Támesis son algunos de los municipios que se pueden divisar.
      </div>
    </div>
    <!--div grip coatiner finaliza -->
    <div class="ae-grid--alt test">
      <!--principio de la grip-->
      <div class="ae-grid__item--alt item-sm--auto item-sm--offset-1item-lg--offset-0item-sm--end
          item-sm--bottom">
          <img id="frentecerro" src="assets/img/20210410_150332.jpg" alt="Urku Portfolio"/>
          <br>
          <br>
        <h1 class="ae-u-bolder">Recomendaciones:</h1>

        <!---la segunda del template-->
        <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
          <!--principio de la egrit center-->
          <div class="ae-grid__item--alt8 item-lg-6">
            <span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">ropa cómoda.</p>
            <span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">guantes (muy importante) </p>
         </div>
          <div class="ae-grid__item--alt8 item-lg-6">
            <span class="ae-u-boldest">3.</span>
            <p class="au-mt-1">ropa de cambio</p>
            <span class="ae-u-boldest">4.</span>
            <p class="au-mt-1">documento de identidad</p>
          </div>
          <div class="ae-grid__item--alt8 item-lg-6">
            <span class="ae-u-boldest">5.</span>
            <p class="au-mt-1">calzado con buen agarre. si tienes botas mucho mejor</p>
            <span class="ae-u-boldest">6.</span>
            <p class="au-mt-1">gorra, pava o sombrero
            </p>
          </div>
          <div class="ae-grid__item--alt8 item-lg-6">
            <span class="ae-u-boldest">7.</span>
            <p class="au-mt-1">
              bloqueador solar
            </p>
          </div>
          <div class="ae-grid__item--alt8 item-lg-6">
            <h4>MUY IMPORTANTE</h4>
            <span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">hidratación (2 a 3 litros)</p>
            <span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">Chocolates, bocadillos etc.</p>
            <span class="ae-u-boldest">3.</span>
            <p class="au-mt-1">opcional: proteína (como atún o salchichas)</p>
            <span class="ae-u-boldest">4.</span>
            <p class="au-mt-1">bolsa para residuos y algunas prendas
            </p>
            <span class="ae-u-boldest">5.</span>
            <p class="au-mt-1">
              Morral comodo (de 2 cargaderas, llevar solo lo necesario, entre
              menos peso tenga mejor).
            </p>
          </div>
          <div class="ae-grid__item--alt8 item-lg-6">
            <h4>IMPORTANTE</h4>
            <span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">No haber ingerido licor el día anterior.</p>
            <span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">Dormir bien el día anterior.</p>
          </div>
        </div>
        <!--fin de la egrit center-->
      </div>
      <!--fin dela segunda template -->
      <div
        class=" ae-grid__item--alt item-sm--auto item-lg-3
          item-lg--offset-1 item-lg--end">

        <div class="ae-grid__item--alt8 item-lg-6">
          <br />
          <h4>DURACION:<br />5 HORAS APROXIMADAMENTE</h4>
          <h1>Incluye:</h1>
          <span class="ae-u-boldest">1.</span>
          <p class="au-mt-1">Guia Especializado local </p>
          <span class="ae-u-boldest">2.</span>
          <p class="au-mt-1">Seguro de asistencia médica.</p>
          <span class="ae-u-boldest">3.</span>
          <p class="au-mt-1">Refrigerio.</p>
          <span class="ae-u-boldest">4.</span>
          <p class="au-mt-1">
            Transporte (opcional).
          </p>
          <span class="ae-u-boldest">5.</span>
          <p class="au-mt-1">Almuerzo (opcional).</p>
          <span class="ae-u-boldest">6.</span>
          <p class="au-mt-1">Hospedaje(opcional)</p>
        </div>
      </div>
    </div>
    <!--cierra el 2do div  de arriba-->
  </div>
  <!--cierra el 1er div  de arriba-->
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons">
      <a href="#0" class="au-mt-2 arrow-button arrow-button--right"
        >Next Project<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use></svg></span
      ></a>
    </div>
  </div>
</section>
