<section class="">
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <!--div container-->
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1"></div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg--auto">
        <img src="assets/img/DSCN1112.JPG" alt="Urku Portfolio" />
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6">
        <img id="sentadoscerro"src="assets/img/DSCN1082.JPG" alt="Urku Portfolio" />
      </div>
      <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <br />
        <br />
        <h1 class="ae-u-bolder">RUTA CULTURAL Y CONEXIÓN ANCESTRAL</h1>
        <br />
        <p class="ae-eta">
          En este recorrido pasaremos por los lugares culturales más representativos del Municipio de Venecia “Tierra de la Montaña Sagrada”, donde se mezcla además de la cultura, la historia de nuestros ancestros. Vivirás una conexión especial con la naturaleza y nuestras raíces indígenas. Por medio de la meditación en “El altar ceremonial” con cantos tribales, tambor, sonaja y otros instrumentos ancestrales, se hace limpieza energética con waira, limpieza nasal con agua de tabaco que nos conecta con su elemental sanador y por último se limpia el espacio energéticamente con copal.

        </p>

      </div>
    </div>
    <!--div grip coatiner finaliza -->
    <div class="ae-grid--alt test">
      <!--principio de la grip-->
      <div class=" ae-grid__item--alt item-sm--auto item-sm--offset-1item-lg--offset-0item-sm--end
          item-sm--bottom" >
          <h1 class="ae-u-bolder">Recomendaciones:</h1>
        <!---la segunda del template-->
        <div class="ae-grid__item--alt8 item-lg-6">
          <span class="ae-u-boldest">1.</span>
          <p class="au-mt-1">Ropa cómoda .</p>
          <span class="ae-u-boldest">2.</span>
          <p class="au-mt-1">
            Calzado cómodo
          </p>
        </div>
        <div class="ae-grid__item--alt8 item-lg-6">
          <span class="ae-u-boldest">3.</span>
          <p class="au-mt-1">Buena hidratación</p>
          <span class="ae-u-boldest">4.</span>
          <p class="au-mt-1">Bloqueador</p>
        </div>
        <div class="ae-grid__item--alt8 item-lg-6">
          <span class="ae-u-boldest">5.</span>
          <p class="au-mt-1">Repelente</p>
          <span class="ae-u-boldest">6.</span>
          <p class="au-mt-1">
            Gorro-cachucha-pava
          </p>
        </div>
        <div class="ae-grid__item--alt8 item-lg-6">
          <span class="ae-u-boldest"></span>
          <p class="au-mt-1">

          </p>
        </div>



        <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
          <!--principio de la egrit center-->
          <div class="ae-grid__item--alt8 item-lg-6">
            <h4>MUY IMPORTANTE</h4>
            <span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">hidratación (2 a 3 litros)</p>
            <span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">Chocolates, bocadillos etc.</p>
            <span class="ae-u-boldest">3.</span>
            <p class="au-mt-1">opcional: proteína (como atún o salchichas)</p>
            <span class="ae-u-boldest">4.</span>
            <p class="au-mt-1">Bolsa plastica</p>
            <span class="ae-u-boldest">5.</span>
            <p class="au-mt-1">
              Morral comodo (de 2 cargaderas, llevar solo lo necesario, entre
              menos peso tenga mejor).
            </p>
          </div>
          <div class="ae-grid__item--alt8 item-lg-6">
            <h4>IMPORTANTE</h4>
            <span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">No haber ingerido licor el día anterior.</p>
            <span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">Dormir bien el día anterior.</p>
          </div>

        </div>
        <!--fin de la egrit center-->
      </div>
      <!--fin dela segunda template -->
      <div class="ae-grid__item--alt item-sm--auto item-lg-3 item-lg--offset-1 item-lg--end ">
       <!----<img id="frentecerro" src="assets/img/La Montaña Sagrada.jpg" alt="Urku Portfolio"/
        >-->
        <h4>DURACION:<br />5 HORAS APROXIMADAMENTE</h4>
        <h1>Incluye:</h1>
        <span class="ae-u-boldest">1.</span>
        <p class="au-mt-1">Guia Especializado Local</p>
        <span class="ae-u-boldest">2.</span>
        <p class="au-mt-1">Recorrido Parque Principal.</p>
        <span class="ae-u-boldest">3.</span>
        <p class="au-mt-1">Recorrido por la calle de los artistas.</p>
        <span class="ae-u-boldest">4.</span>
        <p class="au-mt-1">Recorrido Parque Tomas Chaverra.</p>
        <span class="ae-u-boldest">5.</span>
        <p class="au-mt-1">Recorrido Casa de la Cultura</p>
        <span class="ae-u-boldest">6.</span>
        <p class="au-mt-1">Ingreso ala Casa Museo</p>
        <span class="ae-u-boldest">7.</span>
        <p class="au-mt-1">Conexión ancestral "Altar Ceremonial"</p>
        <span class="ae-u-boldest">8.</span>
        <p class="au-mt-1">Avistamiento de "la cara de la diosa"</p>
        <span class="ae-u-boldest">9.</span>
        <p class="au-mt-1">Mirador con vista de 360°(Lugar de enterramiento prehispánico)</p>
        <span class="ae-u-boldest">10.</span>
        <p class="au-mt-1">Refrígerio</p>
        <span class="ae-u-boldest">11.</span>
        <p class="au-mt-1">Transporte</p>
        <span class="ae-u-boldest">12.</span>
        <p class="au-mt-1">Póliza de asistencía medica</p>
        <span class="ae-u-boldest">13.</span>
        <p class="au-mt-1">Almuerzo(opcional)</p>
        <span class="ae-u-boldest">14.</span>
        <p class="au-mt-1">Hospedaje(opcional)</p>
        <div class="ae-grid__item--alt8 item-lg-6">

        </div>
      </div>
    </div>
    <!--cierra el 2do div  de arriba-->
  </div>
  <!--cierra el 1er div  de arriba-->
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons">
      <a href="#0" class="au-mt-2 arrow-button arrow-button--right"
        >Next Project<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use></svg></span
      ></a>
    </div>
  </div>
</section>

