




<!--<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div  class="ae-grid ae-grid--equal-height">
    <a routerLink="/productos" class="ae-grid__item item-sm--auto" >
      <img id=" imagenescentradas" src="assets/img/DSCN1364.JPG" alt="" />
      <div class="item-meta">
        <h2>Reto Cerro Tusa</h2>
        <p>Branding</p>
      <div class="desc">Add a description of the image here</div>
    </div>
    </a>
     <a routerLink="/productos1" class="ae-grid__item item-sm--auto">
      <img src="assets/img/20210329_144500.jpg" alt="" />
      <div class="item-meta">
        <h2>Venecia Encantadora</h2>
        <p>Art Direction</p>
      </div>
    </a>
      <a routerLink="/productos2" class="ae-grid__item item-sm--auto">
        <img src="assets/img/20210410_124439.jpg" alt="" height=""/>
      <div class="item-meta">
           <h2>Senderismo Cerro Bravo</h2>
         <p>Graphic Design</p>
      </div>
    </a>
      <a routerLink="/productos3" class="ae-grid__item item-sm--auto">
        <img src="assets/img/DSCN1112.JPG" alt="" />
      <div class="item-meta">
        <h2>Conexión Ancestral</h2>
        <p>Packaging</p>
      </div>
    </a>
     <!--<a routerLink="/productos4"class="rk-item ae-masonry__item">
        <img src="assets/img/project-5.jpg" alt="" />
      <div class="item-meta">
        <h2>Biodiesel etsy</h2>
        <p>Branding</p>
      </div>
    </a>
      <a routerLink="/productos5" class="rk-item ae-masonry__item">
        <img src="assets/img/project-6.jpg" alt="" />
      <div class="item-meta">
        <h2>Gentrify artisan</h2>
        <p>Graphic Design</p>
      </div>
    </a>
    <a routerLink="/productos6" class="rk-item ae-masonry__item"><img src="assets/img/project-12.jpg" alt="">
      <div class="item-meta">
        <h2>Venmo trust</h2>
        <p>Packaging</p>
      </div>
    </a>
      <a routerLink="/productos7" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
      <div class="item-meta">
        <h2>Venmo trust</h2>
        <p>Ui/UX</p>
      </div>
    </a>

  </div>
</section>-->

<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a routerLink="/productos" class="rk-item ae-masonry__item"
      ><img src="assets/img/DSCN1364.JPG" alt="" />
      <div class="item-meta">
        <h2>Reto Cerro Tusa</h2>
        <p>Venturs</p>
        <div class="desc">Somos Turismo en Venecia</div>
      </div></a>
      <a routerLink="/productos1" class="rk-item ae-masonry__item"><img src="assets/img/20210329_144500.jpg" alt="" />
      <div class="item-meta">
        <h2>Venecia Encantadora</h2>
        <p>Venturs</p>
        <div class="desc">Somos Turismo en Venecia</div>
      </div></a>
      <a routerLink="/productos2" class="rk-item ae-masonry__item">
        <img src="assets/img/imagen02.jpg" alt="" height=""/>
      <div class="item-meta">
        <h2>Senderismo Cerro Bravo</h2>
        <p>Venturs</p>
        <div class="desc">Somos Turismo en Venecia</div>
      </div></a>
      <a routerLink="/productos3" class="rk-item ae-masonry__item">
        <img src="assets/img/DSCN1112.JPG" alt="" />
      <div class="item-meta">
        <h2>Conexión Ancestral</h2>
        <p>Venturs</p>
        <div class="desc">Somos Turismo en Venecia</div>
      </div>
    </a>
     <a routerLink="/productos4" class="rk-item ae-masonry__item">
        <img src="assets/img/project-5.jpg" alt="" />
      <div class="item-meta">
        <h2>Finca Los Guadales</h2>
        <p>Finca en Alquiler</p>
      </div>
    </a>
      <a routerLink="/productos5" class="rk-item ae-masonry__item">
        <img src="assets/img/project-6.jpg" alt="" />
      <div class="item-meta">
        <h2>Paseo a Caballo</h2>
        <p>Alquiler de Caballos</p>
        <div class="desc">Somos Turismo en Venecia</div>
      </div>
    </a>
    <a routerLink="/productos6" class="rk-item ae-masonry__item"><img src="assets/img/project-12.jpg" alt="">
      <div class="item-meta">
        <h2>Finca las Margaritas</h2>
        <p>Finca en Alquiler</p>
      </div>
    </a>
      <a routerLink="/productos7" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
      <div class="item-meta">
        <h2>Finca los Lagos</h2>
        <p>Finca en Alquiler</p>
      </div>
    </a>

  </div>
</section>
