<br>

<diV class="container" >
  <div class="abs-center">
    <ul class="row">
      <li>

        <img src="../../../assets/img/facebook.png" style="float:left;clear:left;">
        <p><a href="https://www.facebook.com/venturs2015" target="_blank">Like Us on<br>Facebook</a></p>
      </li>
      <li>
        <img src="../../../assets/img/instagram.png">
        <p><a href="https://www.instagram.com/venturs.venecia/" target="_blank">Like Us on<br>Instagram</a></p>
      </li>

      <li>
        <img src="../../../assets/img/youtube.png">
        <p><a href="https://www.youtube.com/channel/UClMKTM9dNzuqL6Y6vhxcrYQ?view_as=subscriber" target="_blank">Subscribe on<br>YouYube</a></p>
      </li>
    </ul>
  </div>
</diV>
<br>
<br>
<section>
  <!--boton del whatsapp-->
  <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title">
  </jjva-ngx-whatsapp-button>
</section>


<footer>
   <div id="footer">
    Venturs Calle 54#49-13 bloque 1 apart 104 Venecia-Antioquia Tel.3218678400
    Correo:Ventursvenecia2015@gmail.com Copyright &#169; Venturs | Todos los
    derechos reservados RNT 90713
    <br /><a href="URL">Aviso Legal y Política de uso y privacidad</a>
    <br />
  </div>


</footer>

